<!DOCTYPE html>
<html ng-app="contactsListApp">
<head>
	<title>Contacts List</title>
	<link href='https://fonts.googleapis.com/css?family=Oswald:300|Cabin+Sketch:700' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="stylesheets/normalize.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">

	<!-- Include AngularJS -->
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.2/angular.min.js"></script>
	<script src="javascripts/contactsList.js"></script>
</head>
<body ng-controller="ContactsListController">
	<img id="background" src="img/background_blur.jpg" />

	<div id="header">
		<h1>Contact List</h1>
		<h4>Your contacts... all in one place.</h4>
	</div>
	<img id="phone" src="img/screen.png" />

	<div id="formArea">
		
		<section id="leftSide">
			<p class="formLabel">Name:</p><br>
			<input type="text" id="formName" name="name" placeholder="Name"><br><br>

			<p class="formLabel">Photo:</p><br>
			<input type="text" id="formPhoto" name="photo" placeholder="Photo URL">
		</section>

		<section id="rightSide">
			<p class="formLabel">Phone:</p><br>
			<input type="text" id="formPhone" name="phone" placeholder="(XXX) XXX-XXXX"><br><br>

			<p class="formLabel">Email:</p><br>
			<input type="text" id="formEmail" name="email" placeholder="Email"><br><br>

			<p class="formLabel">Address:</p><br>
			<input type="text" id="formAddress" name="address" placeholder="Address"><br><br><br>
			
			<button id="addContactButton" onclick="sendContact()">Add Contact</button>
		</section>
		

		<script>
			function sendContact(){
				var name = document.getElementById("formName").value,
					phone = document.getElementById("formPhone").value,
					email = document.getElementById("formEmail").value,
					address = document.getElementById("formAddress").value,
					photo = document.getElementById("formPhoto").value;

				var postBody = {
					name: name,
					phone: phone,
					email: email,
					address: address,
					photo: photo	
				}

				console.log(JSON.stringify(postBody));

				var xhttp = new XMLHttpRequest();				
				xhttp.open("POST", "/addContact", true);
				xhttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
				xhttp.send(JSON.stringify(postBody));
			}
		</script>
	</div>


	<div id="screen">
		<ul>
			<li ng-repeat="contact in contacts">
				<div>{{contact.name?"Name: " + contact.name:""}}</div>
				<div>{{contact.phone?"Phone: " + contact.phone:""}}</div>
				<div>{{contact.address?"Address: " + contact.address:""}}</div>
				<div>{{contact.photo?"Photo: " + contact.photo:""}}</div>
				<div>{{contact.email?"Email: " + contact.email:""}}</div>
			</li>
		</ul>
	</div>

	
</body>
</html>